.venv/
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env
.env.*
tests/
test-results/
test-fixtures/*.md
test-fixtures/*.pdf
scripts/
output/
logs/
/data/
app/demotest/
Pipfile
*.md
!prompt-templates/**/*.md
